/*********************************************************************
************************* Style Global Roles *************************
*********************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif, Arial, Helvetica;
}

button {
  background: none;
  border: none !important;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*********************************************************************
************************ Style Global component **********************
*********************************************************************/
.main-section-heading {
  font-size: 48px;
  font-weight: bold;
  color: #303233;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 32px;
  text-transform: capitalize;
  text-align: center;
}

.secound-section-heading h3 {
  font-size: 48px;
  font-weight: bold;
  color: #303233;
  text-transform: capitalize;
}
.secound-section-heading p {
  font-size: 20px;
  font-weight: 500;
  color: #303233;
  max-width: 400px;
  margin: 0;
}

/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
/********************** Start Style header ***********************/
header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 35%;
  background-color: #49C2D3;
}
header .navbar {
  background-color: transparent !important;
}
header .navbar .navbar-brand {
  width: auto;
  height: 80px;
}
header .navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  header .navbar .navbar-brand {
    height: 60px;
  }
}
header .navbar .navbar-toggler {
  font-size: 24px;
}
header .navbar .navbar-nav .nav-link {
  color: #1A3251;
  font-weight: 500;
  font-size: 14px;
  transition: 0.4s;
  text-transform: capitalize;
}
header .navbar .navbar-nav .nav-link.active, header .navbar .navbar-nav .nav-link:hover {
  color: #49C2D3;
}
header .navbar .navbar-nav button {
  background-color: #1A3251;
  color: white;
  padding: 5px 20px;
  border-radius: 100px;
  font-size: 14px;
}
header .landding {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 500px;
}
@media (max-width: 767px) {
  header .landding {
    grid-template-columns: 100%;
  }
}
header .landding .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .landding .content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #303233;
  margin-bottom: 50px;
}
header .landding .content button {
  align-self: flex-start;
  background-color: #49C2D3;
  font-weight: 500;
  color: white;
  padding: 8px 35px;
  border-radius: 7px;
}
header .landding .image {
  margin: 0;
  overflow-y: hidden;
  display: flex;
  align-items: flex-end;
}
header .landding .image img {
  height: 90%;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .landding .image {
    display: none;
  }
}
header .landding .scroll-bottom {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

/*********************** End Style header ************************/
/********************** Start Style servicies ********************/
.services {
  padding-top: 71px;
}
.services article {
  line-height: 1.3;
}
@media (max-width: 767px) {
  .services article {
    margin: 0;
  }
  .services article:not(:first-of-type) {
    margin-top: 25px;
  }
}
.services article > figure {
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .services article > figure {
    display: none;
  }
}
.services article > figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services article .content {
  padding: 50px 25px;
}
@media (max-width: 767px) {
  .services article .content {
    padding: 0;
  }
}
.services article .content .box-feture section h4 {
  margin: 16px 0 8px;
  font-size: 17px;
  font-weight: bold;
}
.services article .content .box-feture section p {
  color: #999999;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.services article .learn-more {
  text-transform: capitalize;
  color: #EA2F4A;
  font-weight: 500;
  display: block;
  margin-top: 24px;
  position: relative;
}
.services article .learn-more::after {
  content: url(../../images/service-arow.svg);
  position: absolute;
  transform: translate(5px, 12.5%);
}

/*********************** End Style servicies ********************/
/******************** Start Style Clients ***********************/
.clients {
  padding-top: 71px;
  padding-bottom: 71px;
}
.clients .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: center;
}
.clients .container figure {
  width: 20%;
}
@media (max-width: 1200px) {
  .clients .container figure {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .clients .container figure {
    width: 33.333%;
  }
}
@media (max-width: 767px) {
  .clients .container figure {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .clients .container figure {
    width: 100%;
  }
}

/********************* End Style Clients ************************/
/********************** Start Style portfolio ***********************/
.portfolio .container > p {
  font-weight: 500;
  color: #999999;
  text-align: center;
  max-width: 550px;
  margin: auto;
}
.portfolio ul.categories {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 32px 0;
}
@media (max-width: 575px) {
  .portfolio ul.categories {
    gap: 12px;
  }
}
.portfolio ul.categories li {
  text-transform: capitalize;
  color: #303233;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
}
.portfolio ul.categories li.active, .portfolio ul.categories li:hover {
  color: #49C2D3;
}
.portfolio .prodacts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio .prodacts .prodact {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: calc((100% - 60px) / 3);
}
@media (max-width: 991px) {
  .portfolio .prodacts .prodact {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 575px) {
  .portfolio .prodacts .prodact {
    width: 100%;
  }
}
.portfolio .prodacts .prodact h3 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-transform: capitalize;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.portfolio .prodacts .prodact img {
  width: 100%;
  overflow: hidden;
  transition: 0.4s;
}
.portfolio .prodacts .prodact:hover img {
  transform: scale(1.2) rotate(6deg);
}
.portfolio a.discover {
  display: block;
  color: #EA2F4A;
  border: 1px solid;
  text-transform: capitalize;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  padding: 6px 25px;
  border-radius: 4px;
}

/*********************** End Style portfolio ************************/
/********************** Start Style testimonial **********************/
.testimonials {
  padding-bottom: 71px;
}
.testimonials .testimonial-box {
  background-color: #E6EBF2;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  gap: 64px;
}
@media (max-width: 991px) {
  .testimonials .testimonial-box {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .testimonials .testimonial-box {
    padding: 16px;
  }
}
.testimonials .testimonial-box .image {
  margin: 0;
}
.testimonials .testimonial-box .image img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .testimonials .testimonial-box .image img {
    border-radius: 50%;
  }
}
.testimonials .testimonial-box .content {
  display: flex;
  gap: 32px;
}
@media (max-width: 767px) {
  .testimonials .testimonial-box .content {
    gap: 0;
  }
}
.testimonials .testimonial-box .content::before {
  content: url(../../images/testimonial-qutation-top.svg);
}
@media (max-width: 767px) {
  .testimonials .testimonial-box .content::before {
    transform: scale(0.4) translateY(-100%);
    align-self: flex-start;
  }
}
.testimonials .testimonial-box .content::after {
  content: url(../../images/testimonial-qutation-bottom.svg);
  align-self: flex-end;
  transform: translateY(-100%);
}
@media (max-width: 767px) {
  .testimonials .testimonial-box .content::after {
    transform: translateY(-100%) scale(0.4);
  }
}
.testimonials .testimonial-box .content blockquote {
  color: #303233;
  font-weight: 500;
}
.testimonials .testimonial-box .content h3 {
  text-transform: capitalize;
  color: #49C2D3;
  font-weight: 500;
  font-size: 20px;
}
.testimonials .testimonial-box .content p {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  text-transform: capitalize;
}
.testimonials .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.testimonials .pagination ul.bults {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6px;
}
.testimonials .pagination ul.bults li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #E6EBF2;
  cursor: pointer;
  transition: 0.4s;
}
.testimonials .pagination ul.bults li:hover, .testimonials .pagination ul.bults li.active {
  background-color: #49C2D3;
}

/*********************** End Style testimonial ***********************/
/********************** Start Style conmpany ***********************/
.conmpany {
  background-color: #1A3251;
  padding-top: 71px;
  padding-bottom: 71px;
}
.conmpany article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.conmpany article span {
  display: block;
  color: #49C2D3;
  font-size: 48px;
  font-weight: bold;
}
.conmpany article h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/*********************** End Style conmpany ************************/
/********************** Start Style benefits ***********************/
.benefits {
  padding-top: 71px;
  padding-bottom: 71px;
}
.benefits .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.benefits .container article {
  width: calc((100% - 90px) / 4);
  text-align: center;
}
@media (max-width: 991px) {
  .benefits .container article {
    width: calc((100% - 60px) / 3);
  }
}
@media (max-width: 767px) {
  .benefits .container article {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 575px) {
  .benefits .container article {
    width: 100%;
  }
}
.benefits .container article h3 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: bold;
  color: #303233;
  margin-top: 16px;
}

/*********************** End Style benefits ************************/
/****************** Start Style reserve meeting  ******************/
.reserve-meeting {
  padding-top: 71px;
  padding-bottom: 71px;
  background-image: url(../../images/reserve-meeting-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.reserve-meeting p {
  font-size: 32px;
  font-weight: bold;
  max-width: 750px;
  margin: auto;
  text-transform: capitalize;
}
.reserve-meeting a {
  background-color: #49C2D3;
  color: white;
  padding: 5px 20px;
  border-radius: 100px;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 32px;
  padding: 18px 84px;
  font-size: 18px;
}
@media (max-width: 575px) {
  .reserve-meeting a {
    padding: 9px 42px;
  }
}

/******************* End Style reserve meeting  *******************/
/********************** Start Style contact ***********************/
.contact {
  padding-top: 71px;
  padding-bottom: 71px;
}
.contact .contact-box {
  max-width: 900px;
  margin: auto;
  padding: 48px 64px;
  background-image: url(../../images/contact-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 46%;
  gap: 120px;
}
@media (max-width: 991px) {
  .contact .contact-box {
    grid-template-columns: auto;
    gap: 32px;
  }
}
@media (max-width: 991px) {
  .contact .contact-box .content {
    text-align: center;
  }
}
.contact .contact-box .content .secound-section-heading h3 {
  color: #ffffff;
  text-transform: lowercase;
}
.contact .contact-box .content .secound-section-heading h3::first-letter {
  text-transform: uppercase;
}
.contact .contact-box .content .secound-section-heading p {
  font-size: 16px;
  font-weight: normal;
  color: #999999;
}
@media (max-width: 991px) {
  .contact .contact-box .content .secound-section-heading p {
    margin: auto;
  }
}
.contact .contact-box .content .information-company {
  margin-top: 24px;
}
.contact .contact-box .content .information-company img {
  width: 24px;
  height: 24px;
}
.contact .contact-box .content .information-company span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 12px;
}
.contact .contact-box form .input {
  margin-bottom: 12px;
}
.contact .contact-box form .input label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.contact .contact-box form .input input, .contact .contact-box form .input textarea {
  display: block;
  width: 100%;
  padding: 14px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.contact .contact-box form .input input::-moz-placeholder, .contact .contact-box form .input textarea::-moz-placeholder {
  text-transform: capitalize;
  color: #999999;
}
.contact .contact-box form .input input:-ms-input-placeholder, .contact .contact-box form .input textarea:-ms-input-placeholder {
  text-transform: capitalize;
  color: #999999;
}
.contact .contact-box form .input input::placeholder, .contact .contact-box form .input textarea::placeholder {
  text-transform: capitalize;
  color: #999999;
}
.contact .contact-box form .input textarea {
  height: 96px;
}
.contact .contact-box form button {
  background-color: #49C2D3;
  color: white;
  padding: 5px 20px;
  border-radius: 100px;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 14px;
  text-transform: capitalize;
  padding: 15px 50px;
}

/*********************** End Style contact ************************/
/********************** Start Style footer ***********************/
.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #1A3251;
  color: #ffffff;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 70px;
}
@media (max-width: 767px) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "column column";
  }
}
@media (max-width: 575px) {
  .footer .container {
    grid-template-areas: none;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.footer .container h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .footer .container .logo {
    text-align: center;
    grid-area: column;
  }
}
@media (max-width: 575px) {
  .footer .container .logo {
    grid-area: auto;
  }
}
.footer .container .links ul {
  padding: 0;
  margin: 0;
  -moz-column-count: 2;
       column-count: 2;
}
.footer .container .links ul li {
  text-transform: capitalize;
  font-weight: 500;
}
.footer .container .links ul li:not(:first-of-type) {
  margin-top: 16px;
}
.footer .container .links ul li a {
  transition: 0.4s;
}
.footer .container .links ul li a:hover {
  color: #49C2D3;
}
.footer .container .contact-footer .information-company {
  margin-bottom: 16px;
}
.footer .container .contact-footer .information-company img {
  width: 24px;
  height: 24px;
}
.footer .container .contact-footer .information-company span {
  font-weight: 500;
  margin-left: 8px;
}
.footer .container .social {
  padding: 0;
  display: flex;
  gap: 32px;
}
@media (max-width: 575px) {
  .footer .container .social {
    justify-content: center;
  }
}

/*********************** End Style footer ************************//*# sourceMappingURL=main.css.map */