/*********************************************************************
************************* Style Global Roles *************************
*********************************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Tajawal', sans-serif, Arial, Helvetica;
}

button {
    background: none;
    border: none !important;
}

button:focus {
    outline: none;
    box-shadow: none !important;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

/*********************************************************************
************************ Style Global component **********************
*********************************************************************/

.main-section-heading {
    font-size: 48px;
    font-weight: bold;
    color: $heaging-color;
    width: fit-content;
    margin: 0 auto 32px;
    text-transform: capitalize;
    text-align: center;
}

.secound-section-heading {

    h3 {
        font-size: 48px;
        font-weight: bold;
        color: $heaging-color;
        text-transform: capitalize;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        color: $heaging-color;
        max-width: 400px;
        margin: 0;
    }
}


