@import "./varible";

@import "./mixin";

body {
    height: 5000px;
}


/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/

/********************** Start Style header ***********************/

header {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 35%;
        background-color: $main-color;
    }

    .navbar {
        background-color: transparent !important;

        .navbar-brand {
            width: auto;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: 575px) {
            .navbar-brand {
                height: 60px;
            }
        }

        .navbar-toggler {
            font-size: 24px;
        }

        .navbar-nav {
    
            .nav-link {
                color: $secound-color;
                font-weight: 500;
                font-size: 14px;
                transition: $main-transition;
                text-transform: capitalize;
    
                &.active, &:hover {
                    color: $main-color
                }
            }
    
            button {
                @include main-button($secound-color);
            }
        }
    }

    .landding {
        display: grid;
        grid-template-columns: 60% 40%;
        min-height: 500px;

        @media (max-width: 767px) {
            & {
                grid-template-columns: 100%
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 48px;
                font-weight: bold;
                color: $heaging-color;
                margin-bottom: 50px;
            }

            button {
                align-self: flex-start;
                background-color: $main-color;
                font-weight: 500;
                color: white;
                padding: 8px 35px;
                border-radius: 7px;
            }
        }

        .image {
            margin: 0;
            overflow-y: hidden;
            display: flex;
            align-items: flex-end;
             
            img{
                height: 90%;
                overflow: hidden;
            }

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }
        }

        .scroll-bottom {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/*********************** End Style header ************************/

/********************** Start Style servicies ********************/

.services {
    padding-top: $main-padding; 

    article {

        line-height: 1.3;

        @media (max-width: 767px) {

            margin: 0;

            &:not(:first-of-type) {
                margin-top: 25px;
            } 
        }
        
        > figure {
            padding: 0;
            margin: 0;

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 50px 25px;

            @media (max-width: 767px) {
                & {
                    padding: 0
                }
            }

            .box-feture section {

                h4 {
                    margin: 16px 0 8px;
                    font-size: 17px;
                    font-weight: bold;
                }

                p {
                    color: $text-color;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }

        .learn-more {
            text-transform: capitalize;
            color: #EA2F4A;
            font-weight: 500;
            display: block;
            margin-top: 24px;
            position: relative;

            &::after {
                content: url(../../images/service-arow.svg);
                position: absolute;
                transform: translate(5px, 12.5%);
            }
        }
    }

}

/*********************** End Style servicies ********************/

/******************** Start Style Clients ***********************/

.clients {
    padding-top: $main-padding;
    padding-bottom: $main-padding;

    .container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: center;
    }

    .container figure {
        width: 20%;

        @media (max-width: 1200px) {
            width: 25%;
        }

        @media (max-width: 991px) {
            width: 33.333%;
        }

        @media (max-width: 767px) {
            width: 50%;
        }

        @media (max-width: 575px) {
            width: 100%;
        }

    }
}

/********************* End Style Clients ************************/