@import "./varible";

@import "./mixin";

/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/

/********************** Start Style header ***********************/

header {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 35%;
        background-color: $main-color;
    }

    .navbar {
        background-color: transparent !important;

        .navbar-brand {
            width: auto;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: 575px) {
            .navbar-brand {
                height: 60px;
            }
        }

        .navbar-toggler {
            font-size: 24px;
        }

        .navbar-nav {
    
            .nav-link {
                color: $secound-color;
                font-weight: 500;
                font-size: 14px;
                transition: $main-transition;
                text-transform: capitalize;
    
                &.active, &:hover {
                    color: $main-color
                }
            }
    
            button {
                @include main-button($secound-color);
            }
        }
    }

    .landding {
        display: grid;
        grid-template-columns: 60% 40%;
        min-height: 500px;

        @media (max-width: 767px) {
            & {
                grid-template-columns: 100%
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 48px;
                font-weight: bold;
                color: $heaging-color;
                margin-bottom: 50px;
            }

            button {
                align-self: flex-start;
                background-color: $main-color;
                font-weight: 500;
                color: white;
                padding: 8px 35px;
                border-radius: 7px;
            }
        }

        .image {
            margin: 0;
            overflow-y: hidden;
            display: flex;
            align-items: flex-end;
             
            img{
                height: 90%;
                overflow: hidden;
            }

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }
        }
    }
}

/*********************** End Style header ************************/